<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>61816856359-lhag864fupq4mr056cqebde52ggkrhn7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.61816856359-lhag864fupq4mr056cqebde52ggkrhn7</string>
	<key>API_KEY</key>
	<string>AIzaSyAmjHcEnwgjq_Y-usCQ-OLFlik8wnbH1zI</string>
	<key>GCM_SENDER_ID</key>
	<string>61816856359</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.notesApp</string>
	<key>PROJECT_ID</key>
	<string>flutter-notes-26836</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-notes-26836.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:61816856359:ios:a68ec7d8634692b9a9d302</string>
</dict>
</plist>