<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>61816856359-qli70ltqj50f3riqf60d4v4qqh8k38pn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.61816856359-qli70ltqj50f3riqf60d4v4qqh8k38pn</string>
	<key>API_KEY</key>
	<string>AIzaSyAmjHcEnwgjq_Y-usCQ-OLFlik8wnbH1zI</string>
	<key>GCM_SENDER_ID</key>
	<string>61816856359</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.notesApp.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>flutter-notes-26836</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-notes-26836.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:61816856359:ios:5065c60c4aab2949a9d302</string>
</dict>
</plist>